{
  "hooks": {
    "pre-commit": "git diff HEAD --name-only | grep \".js$|.scss$\" | xargs yarn format && source venv/bin/activate && git diff HEAD --name-only | grep \".py$\" | xargs black -l 120"
  }
} 