.app {
    margin: 0px;
    height: 100vh;
}

.roomCanvas {
    top: 0%;
    left: 0%;
}

.glPanel {
    height: 60vh;
}

.missing-video {
    width: 180px;
    text-align: center;
    height: 135px;
}
