// Variables

$header-height: 90px;

// App-specific styles

.app {
  height: 100vh;
  margin: 0px;
}

.roomCanvas {
  left: 0%;
  top: 0%;
}

.glPanel {
  height: 60vh;
}

.missing-video {
  height: 135px;
  text-align: center;
  width: 180px;
}

.app-header {
  background: white;
  height: $header-height;
  position: fixed;
  top: 0px;
  width: 100%;
}

.app-body {
  position: relative;
  top: $header-height;
}

// atomic shims

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex-horizontal-center {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.flex-vertical-center {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.justify-space-between {
  justify-content: space-between;
}

.p2 {
  padding: 2em;
}

.px2 {
  padding-left: 2em;
  padding-right: 2em;
}

.m2 {
  margin: 2em;
}
